@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: url("img/gggrain.svg");
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.main {
  height: 100%;
  width: 100%;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: transparent;
}

.navp1 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.navp1 h3 {
  width: 60%;

  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.menu {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu h4 {
  background-color: black;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 60px;
  margin-left: 5px;
  margin-top: -4px;
}

.navp2 {
  width: 19%;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav h2 {
  font-size: 20px;
}

.pill {
  background-color: rgb(219, 0, 0);
  width: 15px;
  height: 5px;
  margin-top: -5px;
  margin-left: 25px;
  border-radius: 20px;
}

.line {
  background-color: black;
  height: 2px;
  width: 800px;
}

#intro {
  height: 45%;
  width: 100%;
  padding: 50px 30px;
  letter-spacing: 3px;
}

#intro h1 {
  font-size: 90px;
  font-weight: 300;
  line-height: 90px;
}

.place {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

#intro h3 {
  font-size: 15px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-s {
  height: 55%;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -4px 0;
}

.about-s h2 {
  width: 55%; /* Allow the width to adjust based on content */
  font-size: 55px;
  line-height: 60px; /* Adjust line height as needed */
  font-weight: 700;
  word-wrap: break-word; /* Ensure word wrapping */
}

.abp2 {
  width: 40%;
  height: 67%;
  padding: 0 30px;
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.abp2 > h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 150px;
}

.icons i {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.page-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.work {
  height: 55%;
  width: 100%;
  padding-top: 30px;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work1 {
  width: 45%;
  height: 250px;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding-right: 38px;
}

.work2 {
  width: 80%;
  height: 250px;
}

.work2 {
  display: flex;
  flex-direction: column;

  padding-left: 38px;
}

.wp2-1 {
  height: 50%;
  border-bottom: 2px solid black;
}

.wp2-2 {
  height: 50%;
}
